<div>
  <div class="main-banner"></div>
  <div class="top-sports">
    <div class="cards">
      <a href="">
        <img src="" alt="">
        <p>Some small text here</p>
      </a>
    </div>
    <div class="cards">
      <a href="">
        <img src="" alt="">
        <p>Some small text here</p>
      </a>
    </div>
    <div class="cards">
      <a href="">
        <img src="" alt="">
        <p>Some small text here</p>
      </a>
    </div>
  </div>
  <div class='history'>
    {{#each data}}
    <div>
      <figure>
        <img src="" alt="">
        <figcaption>{{this.year}}</figcaption>
      </figure>
      <p>{{this.city}}</p>
      <figure>
        <img src="../images/gold.png" alt="" class='medal'>
        <figcaption>{{this.gold}}</figcaption>
      </figure>
      <figure>
        <img src="../images/silver.png" alt="" class='medal'>
        <figcaption>{{this.silver}}</figcaption>
      </figure>
      <figure>
        <img src="../images/bronze.png" alt="" class='medal'>
        <figcaption>{{this.bronze}}</figcaption>
      </figure>
    </div>
    {{/each}}
  </div>
</div>